.product-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 32px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.header {
  margin-bottom: 30px;
}

.header h2 {
  font-size: 28px;
  font-weight: 700;
  color: #111827;
}

.header p {
  color: #6b7280;
  margin-top: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #374151;
}

.form-group input,
.form-group select,
.form-group textarea {
  border: 1px solid #d1d5db;
  border-radius: 12px;
  padding: 14px;
  font-size: 14px;
  transition: .3s;
  background: #f9fafb;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #2563eb;
  background: white;
  box-shadow: 0 0 0 4px rgba(37,99,235,.1);
}

.full {
  width: 100%;
}

.actions {
  margin-top: 25px;
  display: flex;
  justify-content: end;
}

.actions button {
  background: linear-gradient(
    135deg,
    #2563eb,
    #1d4ed8
  );

  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.actions button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(37,99,235,.2);
}


.btn-new {
  border: none;
  padding: 14px 22px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 600;
  color: white;

  background: linear-gradient(
    135deg,
    #2563eb,
    #1d4ed8
  );

  transition: .3s;
}

.btn-new:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(37,99,235,.25);
}


.image-preview {

  margin-top: 20px;

}

.image-preview img {

  width: 220px;

  height: 220px;

  object-fit: cover;

  border-radius: 16px;

  border: 1px solid #e5e7eb;

  box-shadow:
    0 4px 14px rgba(0,0,0,.08);

}

.btn-back {
  border: none;
  padding: 14px 22px;   /* igual tamaño */
  border-radius: 14px;  /* igual */
  cursor: pointer;
  font-weight: 600;
  color: white;

  background: linear-gradient(
    135deg,
    #6b7280,
    #374151
  );

  transition: .3s;
}

.btn-back:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}